
html{
    background-image: "../asset/";
}
    .navbar {
        background-color: #f8f8f8;
        overflow: hidden;
      }
      .navbar a {
        float: left;
        display: block;
        color: #333;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
      }
      .navbar a.active {
        background-color: #555;
        color: white;
      }
      .gros {
        color: royalblue;
      }
